<br>
<div class="button-row">
    <!-- <a mat-raised-button color="primary" [routerLink]="['/Dashbord']"><mat-icon>list</mat-icon></a> -->
        <a [routerLink]="['/Dashbord']"><mat-icon>l<i class="glyphicon glyphicon-new-window"></i>ist</mat-icon></a>
      </div>
    <div class=" well well-lg col-lg-6 col-lg-offset-3">
            <h3 class="text-center">LMS Renew User</h3>

    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="FirstName" formControlName="firstname"
            [errorStateMatcher]="matcher">
        <mat-error>
        <span *ngIf="!userForm.get('firstname').valid && userForm.get('firstname').touched">Please enter FirstName</span>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input matInput placeholder="LastName" formControlName="lastname"
            [errorStateMatcher]="matcher">
        <mat-error>
            <span *ngIf="!userForm.get('lastname').valid && userForm.get('lastname').touched">Please enter LastName</span>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Company" formControlName="company"
            [errorStateMatcher]="matcher">
    <mat-error>
        <span *ngIf="!userForm.get('company').valid && userForm.get('company').touched">Please enter Company</span>
    </mat-error>
    </mat-form-field>
      
    <mat-form-field class="example-full-width">
            <input matInput placeholder="RoxCode" formControlName="roxcode"
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!userForm.get('roxcode').valid && userForm.get('roxcode').touched">Please enter Roxcode</span>
            </mat-error>
    </mat-form-field>
    
    
    <mat-form-field class="example-full-width">
          <input matInput placeholder="License" formControlName="license"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!userForm.get('license').valid && userForm.get('license').touched">Please enter License</span>
          </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
          <input matInput placeholder=" Email" formControlName="email"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!userForm.get('email').valid && userForm.get('email').touched">Please enter Email</span>
          </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
            <input matInput placeholder="Contact" formControlName="contact"
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!userForm.get('contact').valid && userForm.get('contact').touched">Please enter Contact</span>
            </mat-error>
      </mat-form-field>
          
      
              <mat-form-field class="example-full-width">
            <mat-select placeholder="License Quntity" formControlName = "quntity">
              <mat-option *ngFor='let food of foods' [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
     
      
    
        <div class="button-row">
          <button type="submit" (click) = "onAddPost()" [disabled]="!userForm.valid" mat-raised-button color="primary">Renew</button>
        </div>
  </form>
    
</div>
    